.tua {
  margin:auto;
  width:95%;
  color:rgb(221, 221, 221);
}

.tuanav {
  padding-top:1em;
  background-color:#000;
  height:3.5em;
  line-height: 3.5em;
}

.newForm {
  padding-top:2em;
  margin:auto;
  width:95%;
}

.name {
  color:rgb(221, 221, 221);
}

.list {
  margin:auto;
  width:95%;
  padding-top: 2em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  padding-bottom: 0;
}

.ui.input input {
  background-color: #575757 !important;
  color: #fff !important;
}

.ui.label {
  background-color: #262626 !important;
  color: #fff !important;
}

.App {
  background-color: #121212;
}

.item {
  padding-bottom: 1em;
}