.tua {
  margin:auto;
  width:95%;
  color:rgb(221, 221, 221);
}

.tuanav {
  background-color: #333237;
  height:3em;
  line-height: 3em;
}

.name {
  color:rgb(221, 221, 221);
}

.list {
  margin:auto;
  width:95%;
  padding-top: 2em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  padding-bottom: 0;
}

.item {
  padding-bottom: 1em;
}